.user{
    width:300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 10px 10px;
    cursor: pointer;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}
.user:hover {
    transform: scale(1.05);
}
.imgContainer{
    width: 100%;
    height: 200px;
    position: relative;
}
/* .imgContainer img{
    width:100%;
    height: 200px;
} */
.bgImage{
    width: 100%;
    height: 130px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.profileImage{
    width: 50%;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    left: 25%;
    top: 20%;
}
.title{
    text-align: center;
    color:#566573;
    text-transform: uppercase;
    font-weight: bold;
}
.info{
   margin-left: 70px;
   margin-bottom: 20px;
}
.info small{
    display: block;
    font-size: 14px;
    color: #566573;
    margin: 5px 0px;
}

